* {
    box-sizing: border-box;
}

html, body, p {
    margin: 0;
    font-family: "Inter", sans-serif;
}

figure {
    margin: 0;
    width: 100%;
    height: 225px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

figure:hover {
    transform: scale(1.05);
}

.nav {
    background-color: #f55a5a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.nav-logo {
    width: 24px;
    margin-right: 7px;
}

.logo-title {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 16px;
}

.journal-entry {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px 25px;
    border-bottom: 2px solid rgb(198, 198, 198);
}

.location-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.marker-icon {
    width: 10px;
}

.location span {
    margin-left: 4px;
    margin-right: 12px;
    text-transform: uppercase;
}

.location-maps {
    color: grey;
}

.tourist-spot {
    font-size: 2rem;
    font-weight: 900;
    margin-top: 12px;
    margin-bottom: 20px;
}

.dates {
    font-weight: 900;
    margin: 0 0 10px;
}

@media only screen and (max-width: 668px) {
    figure {
        margin-bottom: 25px;
    }

    .journal-entry {
        flex-direction: column;
    }
}

@media only screen and (max-width: 991px) {
    .journal-entry {
        max-width: 600px;
    }
}

@media only screen and (min-width: 992px) {
    .journal-entry {
        max-width: 700px;
    }
}